.About{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.About img{
    width: 35%;
    margin: 20px;
}
.About h1{
    font-size: 3.5vw;
    font-weight: 500;
    margin: 0 2vw;
}
.About p{
    font-weight: 300;
    opacity: .8;
    font-size: 2vw;
    margin: 1vw 2.4vw;
    max-width: 50vw;
    width: fit-content;
}