.Home{
    width: 100%;
    padding: 3vw;
  }
  .HomeTexts{
    text-align: center;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }
  .Home h1{
    font-size: 4vw;
    font-weight: 500;
    line-height: 3vw;
  }
  .Home h2{
    font-size: 2vw;
    font-weight: 300;
  }
  .Home .HIcons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: .1vw;
  }
  .HIcons i{
    font-size: 2.5vw;
    margin: .5vw;
    color: var(--gray);
  }
  .HIcons i:hover{
    color: black;
  }
  .HIcons a{
    display: flex;
    justify-content: center;
    align-items: center;
  }