.Home{
    padding: 3vw;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .Home h1{
    font-size: 4vw;
    font-weight: 500;
    line-height: 3vw;
    display: inline-block;
    display: flex;
  }
  .Home h2{
    font-size: 3.5vh;
    font-weight: 300;
  }
  .Home .HIcons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: .1%;
  }
  .HIcons i{
    font-size: 4.5vh;
    margin: 1%;
    color: var(--gray);
  }
  .HIcons i:hover{
    color: black;
  }